.nav_bar{
    background-color: blue;
    height: 100px;
}
.nav_bar li{
    float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
margin-top: 34px;
}

span {
    margin: 0 100px;
}

span:first-of-type {
    margin-left: 100;
}

span:last-of-type {
    margin-right: 10;
}
